/*
START Main configuration values
*/

@padding-size: 20px;

/*
END Main configuration values
*/

body {
    -webkit-font-smoothing:antialiased !important;
}
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('../fonts/DroidSansMono-webfont.woff') format('woff');
}

// give us a background colour when we aren't running in CasparCG
body.not-casparcg {
  background: black;
}

.hide {
  visibility: hidden;
}

#countdown {
  font-family: droid_sans_monoregular;
  font-size: 3vh;
  position: absolute;
  top: 12vh;
  left: 8vw;
  background: #777;
  color: #fff;
  height: 0vh; /* animates on */
  z-index: 10;
  overflow: hidden;
}

#countdown .timer {
  font-weight: bold;
}

.vertical-align {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
